﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @if (User.IsInRole(Insurance.Web.Models.Identity.Role.Analyst.Name))
    {
        <div class="col-md-4">
            <h2>Wnioski klientów</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="@Url.Action(actionName: "IncidentsInProcess", controllerName: "Incidents")">Learn more &raquo;</a></p>
        </div>
    }
    @if (User.IsInRole(Insurance.Web.Models.Identity.Role.Customer.Name))
    {
        <div class="col-md-4">
            <h2>Moje wnioski</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="@Url.Action(actionName: "Customer", controllerName: "Incidents")">Learn more &raquo;</a></p>
        </div>
    }
    @if (User.IsInRole(Insurance.Web.Models.Identity.Role.Administrator.Name))
    {
        <div class="col-md-4">
            <h2>Zarządzanie użytkownikami</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="@Url.Action(actionName: "Index", controllerName: "Users")">Learn more &raquo;</a></p>
        </div>
    }
</div>