﻿@{
    ViewBag.Title = "Potwierdzenie adresu email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Dziękujemy za założenie konta w naszym serwisie.<br />
        Twoje konto nie jest jeszcze aktywne.<br />
        Na podany przez Ciebie adres email wysłaliśmy instrukcję aktywacji konta.<br />
    </p>
</div>
