﻿@{
    ViewBag.Title = "Potwierdzenie adresu email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Dziękujemy za potwierdzenie adresu e-mail.<br />
        Możesz się teraz zalogować klikając @Html.ActionLink(linkText:"tutaj.", actionName: "Login", controllerName: "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
