﻿@model Insurance.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Resetowanie hasła";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Wypełnij formularz resetowania hasła</h4>
            <hr />

            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.FormGroupFor(m => m.Email)
            @Html.FormSubmit("Resetuj hasło")
        }
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
