﻿@{
    ViewBag.Title = "Resetowanie hasła";
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div>
    <p>
        Prosimy o sprawdzenie skrzynki email w celu dokończenia procedury zresetowania hasła .
    </p>
</div>
	
