﻿@using Insurance.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Logowanie do serwisu";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Wypełnij formularz logowania.</h4>
                <hr />
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.FormGroupFor(m => m.Email)
                @Html.FormGroupFor(m => m.Password)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                @Html.FormSubmit("Zaloguj się")
                <p>
                    @Html.ActionLink("Chcę zarejestrować konto", "Register")
                </p>
                <p>
                    @Html.ActionLink("Nie pamiętam mojego hasła", "ForgotPassword")
                </p>
            }
        </section>
    </div>
</div>

@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}