﻿@model Insurance.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Rejestracja konta";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Uzupełnij formularz rejestracji</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.FormGroupFor(m => m.Email)
            @Html.FormGroupFor(m => m.Password)
            @Html.FormGroupFor(m => m.ConfirmPassword)
            @Html.FormSubmit("Zarejestruj")
        }

    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
