﻿@{
    ViewBag.Title = "Potwierdzenie zmiany hasła";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Twoje hasło zostało zmienione. <br /> 
        Możesz się teraz @Html.ActionLink("zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) przy pomocy nowego hasła.
    </p>
</div>
