﻿@model Insurance.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Resetowanie hasła";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Wypełnij formularz resetowania hasła.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Code)
            @Html.FormGroupFor(m => m.Email)
            @Html.FormGroupFor(m => m.Password)
            @Html.FormGroupFor(m => m.ConfirmPassword)
            @Html.FormSubmit("Reset")
        }
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
