﻿@model Insurance.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Zmiana hasła";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Uzupełnij formularz zmiany hasła.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.FormGroupFor(m => m.OldPassword)
    @Html.FormGroupFor(m => m.NewPassword)
    @Html.FormGroupFor(m => m.ConfirmPassword)
    @Html.FormSubmit("Zmień hasło")
}
@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}