﻿@model Insurance.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Ustawienia konta";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Password:
        </dt>
        <dd>
            [ @Html.ActionLink("Zmień hasło", "ChangePassword") ]
        </dd>
    </dl>
</div>
