﻿@model Insurance.Web.Models.Users.CreateUserViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Dane logowania nowego użytkownika</h2>

<div>
    @Html.ActionLink("lista użytkowników", "Index")
</div>

<div class="bs-callout bs-callout-primary">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.FormGroupFor(x => x.Email)
            @Html.FormGroupFor(x => x.Password)
            @Html.FormGroupFor(x => x.EmailConfirmed)
            @Html.FormGroupFor(x => x.LockoutEnabled)
            @Html.FormSubmit("Gotowe")
        </div>
    }
</div>
        
