﻿@model IEnumerable<Insurance.Web.Models.Identity.User>
@{
    ViewBag.Title = "Index";
}

<h2>Lista użytkowników aplikacji</h2>

<p>
    @Html.ActionLink("dodaj nowego", "Create")
</p>

@foreach (var user in Model)
{
    <div class="bs-callout bs-callout-primary">
        <h4>
            @Html.ActionLink(
    linkText: user.UserName,
    actionName: "Index",
    controllerName: "User",
    routeValues: new { userId = user.Id },
    htmlAttributes: null)
        </h4>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Role:
                    @foreach (var role in user.Roles)
                    {
                        <span class="label label-primary">@role.Name</span>
                    }
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    @Html.ActionLink(
            linkText: "usuń użytkownika",
            actionName: "Delete",
            controllerName: "Users",
            routeValues: new { userId = user.Id },
            htmlAttributes: null)
                </p>
            </div>
        </div>
    </div>
}