﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm(
        actionName: "LogOff",
        controllerName: "Account",
        method: FormMethod.Post, 
        htmlAttributes: new {
            id = "logoutForm",
            @class = "navbar-right"
        }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(
                    linkText: User.Identity.GetUserName(),
                    actionName: "Index",
                    controllerName: "Manage",
                    routeValues: null, 
                    htmlAttributes: new { title = "Manage" })
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj się</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(
               linkText: "Zarejestruj konto",
               actionName: "Register", 
               controllerName: "Account", 
               routeValues: null, 
               htmlAttributes: new { id = "registerLink" })
        </li>        
        <li>
            @Html.ActionLink(
                linkText: "Zaloguj się",
                actionName: "Login",
                controllerName: "Account",
                routeValues: null,
                htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}
