﻿@model Insurance.Web.Controllers.AddUserRole

@{
    ViewBag.Title = "AddRole";
    var user = Model.User;
}

<h2>Użytkownik</h2>

<p>
    @Html.ActionLink(
        linkText: user.UserName,
        actionName: "Index",
        controllerName: "User",
        routeValues: new { userId = user.Id },
        htmlAttributes: null)
</p>

<div class="bs-callout bs-callout-primary">
    <div class="row">
        <div class="col-md-6">
            Użytkownik
            <div> @foreach (var role in user.Roles) {
                <span class="label label-primary">@role.Name</span>
            } </div>
        </div>
        <div class="col-md-6">
            @Html.ActionLink(
                linkText: user.UserName,
                actionName: "Index",
                controllerName: "User",
                routeValues: new { userId = user.Id },
                htmlAttributes: null)
        </div>
    </div>
</div>



<div class="bs-callout bs-callout-primary">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                @Html.HiddenFor(
                expression: model => model.UserId,
                htmlAttributes: new { @class = "form-control input-lg" })
                @Html.DropDownListFor(
                expression: x => x.RoleId,
                selectList: Model.Roles.Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Name }),
                htmlAttributes: new { @class = "form-control input-lg" })
            </div>
            <div class="col-md-6">
                <input type="submit" value="Create" class="btn btn-lg btn-default" />
            </div>
        </div>
    </div>
}
</div>


