﻿@model Insurance.Web.Models.Identity.User
@{
    var user = Model;
}
<h2>Użytkownik</h2>

<p>
    @Html.ActionLink(
    linkText: "Powrót do listy",
    actionName: "Index",
    controllerName: "Users")
</p>

<div class="bs-callout bs-callout-primary">
    <div class="row">
        <div class="col-md-6">Nazwa</div>
        <div class="col-md-6">
            @Html.ActionLink(
                linkText: user.UserName,
                actionName: "Index",
                controllerName: "User",
                routeValues: new { userId = user.Id },
                htmlAttributes: null)
        </div>
    </div>
</div>

<div class="bs-callout bs-callout-primary">
    <div class="row">
        <div class="col-md-6">Email</div>
        <div class="col-md-6">@user.Email</div>
    </div>
</div>

<div class="bs-callout bs-callout-primary">
    <div class="row">
        <div class="col-md-6">Email jest potwierdzony?</div>
        @if (user.EmailConfirmed)
        {
            <div class="col-md-6">TAK</div>
        }
        else
        {
            <div class="col-md-6">NIE</div>
        }
    </div>
</div>

<div class="bs-callout bs-callout-primary">
    <div class="row">
        <div class="col-md-6">Można zablokować konto użytkownika?</div>
        @if (user.LockoutEnabled)
        {
            <div class="col-md-3">TAK</div>
        }
        else
        {
            <div class="col-md-3">NIE</div>
        }
    </div>
</div>

<div class="bs-callout bs-callout-primary">
    <div class="row">
        <div class="col-md-6">Konto użytkownika jest zablokowane?</div>
        @if (user.LockoutEnd > DateTime.Now)
        {
            <div class="col-md-3">TAK</div>
        }
        else
        {
            <div class="col-md-3">NIE</div>
        }
        @if (user.LockoutEnabled)
        { 
            if (user.LockoutEnd > DateTime.Now)
            {
                <div class="col-md-3">
                    @Html.ActionLink(
                        linkText: "Odblokuj",
                        actionName: "Unlock",
                        routeValues: new { userId = user.Id }, 
                        htmlAttributes: new { @class = "btn btn-default" })
                </div> 
            }
            else
            {
                <div class="col-md-3">
                    @Html.ActionLink(
                        linkText: "Zablokuj",
                        actionName: "Lock",
                        routeValues: new { userId = user.Id },
                        htmlAttributes: new { @class = "btn btn-default" })
                </div>
            }
        }
    </div>
</div>

@if (user.LockoutEnd > DateTime.Now)
{
    <div class="bs-callout bs-callout-primary">
        <div class="row">
            <div class="col-md-6">Data i godzina odblokowania konta użytkownika.</div>
            <div class="col-md-6">@user.LockoutEnd.ToShortDateString() @user.LockoutEnd.ToShortTimeString()</div>
        </div>
    </div>
}

<div class="bs-callout bs-callout-primary">
    <div class="row">
        <div class="col-md-6">Liczba niudanych prób logowania w przeciągu ostatnich 5 minut.</div>
        <div class="col-md-6">@user.AccessFailedCount</div>
    </div>
</div>

<h2>Role</h2>
<p>
    @Html.ActionLink(
    linkText: "Dodaj rolę",
    actionName: "AddRole",
    controllerName: "User", 
    routeValues: new {
        userId = user.Id },
    htmlAttributes: null)
</p>
@foreach (var role in user.Roles)
{
    <div class="bs-callout bs-callout-primary">
        <div class="row">
            <div class="col-md-6">
                @role.Name
            </div>
            <div class="col-md-6">
                @Html.ActionLink(
                    linkText: "Usuń",
                    actionName: "RemoveRole",
                    controllerName: "User",
                    routeValues: new {
                        userId = user.Id,
                        roleId = role.Id  },
                    htmlAttributes: new {
                        @class = "btn btn-default"
                    })
            </div>
        </div>
    </div>
}