﻿@model Insurance.Web.Models.Identity.User

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.DataDefinitionFor(model => model.UserName)
        @Html.DataDefinitionFor(model => model.Password)
        @Html.DataDefinitionFor(model => model.Email)
        @Html.DataDefinitionFor(model => model.EmailConfirmed)
        @Html.DataDefinitionFor(model => model.AccessFailedCount)
        @Html.DataDefinitionFor(model => model.LockoutEnabled)
        @Html.DataDefinitionFor(model => model.LockoutEnd)
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
