﻿@model Insurance.Web.Incidents.CustomerAddress
@{
    ViewBag.Title = "Create";
    Guid incidentId = ViewBag.CurrentIncident;
}
@using (Html.BeginForm(actionName: "CustomerAddressEditor", controllerName: "Incidents"))
{
    <div class="bs-callout bs-callout-primary">        
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>dane adresowe</h4>
            <hr />
            @Html.FormValidationSummary()
            @Html.Hidden("incidentId", incidentId)
            @Html.FormHiddenFor(m => m.CustomerId)
            @Html.FormHiddenFor(m => m.Value.Id)
            @Html.FormGroupFor(m => m.Value.Country)
            @Html.FormGroupFor(m => m.Value.PostCode)
            @Html.FormGroupFor(m => m.Value.City)
            @Html.FormGroupFor(m => m.Value.Street)
            @Html.FormGroupFor(m => m.Value.StreetNumber)
            @Html.FormGroupFor(m => m.Value.AppartmentNumber)
            @Html.FormSubmit("Gotowe")
        </div>
    </div>
}