﻿@model Insurance.Web.Incidents.CustomerDetails
@{
    ViewBag.Title = "Create";
    Guid incidentId = ViewBag.CurrentIncident;
}

@using (Html.BeginForm(actionName: "CustomerDetailsEditor", controllerName: "Incidents"))
{
    <div class="bs-callout bs-callout-primary">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>dane osobowe</h4>
            <hr />
            @Html.FormValidationSummary()
            @Html.Hidden("incidentId", incidentId)
            @Html.FormHiddenFor(m => m.CustomerId)
            @Html.FormGroupFor(m => m.FirstName)
            @Html.FormGroupFor(m => m.LastName)
            @Html.FormGroupFor(m => m.PESEL)
            @Html.FormSubmit("GOTOWE")
        </div>
    </div>
}