﻿@model Insurance.Web.Incidents.CustomerContact
@{
    ViewBag.Title = "Create";
    Guid incidentId = ViewBag.CurrentIncident;
}
@using (Html.BeginForm(actionName: "CustomerContactEditor", controllerName: "Incidents"))
{
    <div class="bs-callout bs-callout-primary">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>dane kontaktowe</h4>
            <hr />
            @Html.FormValidationSummary()
            @Html.Hidden("incidentId", incidentId)
            @Html.FormHiddenFor(m => m.CustomerId)
            @Html.FormGroupFor(m => m.Email)
            @Html.FormGroupFor(m => m.Phone)
            @Html.FormSubmit("GOTOWE")
        </div>
    </div>
}