﻿@model Insurance.Web.Incidents.Customer
@{
    var customer = Model;
}

@if (!customer.HasDetails) { @Html.Partial("CustomerDetailsEditor", customer.Details) }
else if (!customer.HasContact) { @Html.Partial("CustomerContactEditor", customer.Contact) }
else if(!customer.HasAddress) { @Html.Partial("CustomerAddressEditor", customer.Address) }

@if (customer.HasDetails)
{
    <div class="bs-callout">
        <h4>dane osobowe</h4>
        <hr />
        <dl class="dl-horizontal">
            @Html.DataDefinitionFor(x => x.Details.FirstName)
            @Html.DataDefinitionFor(x => x.Details.LastName)
            @Html.DataDefinitionFor(x => x.Details.PESEL)
        </dl>
    </div>
}

@if (customer.HasContact)
{
    <div class="bs-callout">
        <h4>dane kontaktowe</h4>
        <hr />
        <dl class="dl-horizontal">
            @Html.DataDefinitionFor(x => x.Contact.Email)
            @Html.DataDefinitionFor(x => x.Contact.Phone)
        </dl>
    </div>
}

 @if (customer.HasAddress)
 {
    <div class="bs-callout">
        <h4>dane adresowe</h4>
        <hr />
        <dl class="dl-horizontal">
            @Html.DataDefinitionFor(x => x.Address.Value.Country)
            @Html.DataDefinitionFor(x => x.Address.Value.City)
            @Html.DataDefinitionFor(x => x.Address.Value.PostCode)
            @Html.DataDefinitionFor(x => x.Address.Value.Street)
            @Html.DataDefinitionFor(x => x.Address.Value.StreetNumber)
            @Html.DataDefinitionFor(x => x.Address.Value.AppartmentNumber)
        </dl>
    </div>
 }