﻿@model Insurance.Web.Incidents.IncidentDetails
@{
    ViewBag.Title = "Create";
    SelectList incidentTypes = (SelectList)ViewBag.Cathegories;
}
@using (Html.BeginForm(actionName: "IncidentDetailsEditor", controllerName: "Incidents"))
{
    <div class="bs-callout bs-callout-primary">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Dane szczegółowe</h4>
            <hr />
            @Html.FormValidationSummary()
            @Html.FormHiddenFor(m => m.IncidentId)
            @Html.FormGroupFor(x => x.Title)
            @Html.FormEnumDropDownListFor(x => x.IncidentType)
            @Html.FormGroupFor(x => x.InsuranceNumber)
            @Html.FormSubmit("GOTOWE")
        </div>
    </div>
}


