﻿@model Insurance.Web.Incidents.Incident
@{
    var incident = Model;
}

@if (incident.HasDetails)
{
    <div class="bs-callout">
        <h4>zgłoszenie szkody</h4>
        <hr />
        <dl class="dl-horizontal">
            @Html.DataDefinitionFor(x => x.Details.Title)
            @Html.DataDefinitionFor(x => x.Details.IncidentType)
        </dl>
    </div>
}

@if (incident.HasDescription)
{
    <div class="bs-callout">
        <h4>szczegółowy opis</h4>
        <hr />
        <dl class="dl-horizontal">
            @Html.DataDefinitionFor(x => x.Description.Value)
            @Html.DataDefinitionFor(x => x.Description.Date)
        </dl>
    </div>
}

 @if (incident.HasAddress)
 {
    <div class="bs-callout">
        <h4>miejsce zdarzenia</h4>
        <hr />
        <dl class="dl-horizontal">
            @Html.DataDefinitionFor(x => x.Address.Value.Country)
            @Html.DataDefinitionFor(x => x.Address.Value.City)
            @Html.DataDefinitionFor(x => x.Address.Value.PostCode)
            @Html.DataDefinitionFor(x => x.Address.Value.Street)
            @Html.DataDefinitionFor(x => x.Address.Value.StreetNumber)
            @Html.DataDefinitionFor(x => x.Address.Value.AppartmentNumber)
        </dl>
    </div>
 }