﻿@model Insurance.Web.Incidents.IncidentDescription
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm(actionName: "IncidentDescriptionEditor", controllerName: "Incidents"))
{
    <div class="bs-callout bs-callout-primary">        
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Dane szczegółowe</h4>
            <hr />
            @Html.FormValidationSummary()
            @Html.FormHiddenFor(m => m.IncidentId)
            @Html.FormGroupTextAreaFor(m => m.Value)
            @Html.FormGroupDateFor(m => m.Date)
            @Html.FormSubmit("GOTOWE")
        </div>
    </div>
}


