﻿@model IEnumerable<Insurance.Web.Incidents.Incident>
@{
    ViewBag.Title = "Index";
}
<h2>Incydenty w procesie</h2>

<table class="table">
    <tr>
        <th>Nazwa szkody</th>
        <th>Data utworzenia</th>
        <th>Status</th>
        <th></th>
    </tr>
@foreach (var incident in Model) {
    <tr>
        <td>@Html.DisplayFor(x => incident.Details.Title)</td>
        <td>@Html.DisplayFor(x => incident.CreationDateTime)</td>
        <td>@Html.DisplayFor(x => incident.Status.Type)</td>
        <td>
            @Html.ActionLink("Edit", "IncidentBadoo", new { incidentId = incident.Id })
        </td>
    </tr>
}
</table>
