﻿@model Insurance.Web.Incidents.Incident
@{
    ViewBag.Title = "Index";
    Enum.GetName(typeof(Insurance.Web.Incidents.IncidentStatusType), Insurance.Web.Incidents.IncidentStatusType.Zaakceptowane);
    Enum.GetName(typeof(Insurance.Web.Incidents.IncidentStatusType), Insurance.Web.Incidents.IncidentStatusType.Odrzucone);
}
<h2>Zaakceptuj lub odrzuć wniosek</h2>

<p>
    @Html.ActionLink("Moje Wnioski", "Customer")
</p>

@using (Html.BeginForm(actionName: "IncidentBadoo", controllerName: "incidents"))
{
    <div class="bs-callout bs-callout-primary">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>zaakceptuj lub odrzuć wniosek o likwidację szkody</h4>
            <hr />
            @Html.FormValidationSummary()
            @Html.Hidden("incidentId", Model.Id)
            
            <div class="row">
                <div class="col-md-6  text-center">
                    <div class="form-group center-block">
                        <input type="submit" value="@Html.Raw(Insurance.Web.Incidents.IncidentStatusType.Zaakceptowane)" name="action" class="btn btn-lg btn-default  center-block" />
                    </div>
                </div>
                <div class="col-md-6  text-center">
                    <div class="form-group center-block">
                        <input type="submit" value="@Html.Raw(Insurance.Web.Incidents.IncidentStatusType.Odrzucone)" name="action" class="btn btn-lg btn-default  center-block" />
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@Html.Partial("IncidentPresenter", Model)
