﻿@model Insurance.Web.Incidents.IncidentAddress
@{
    ViewBag.Title = "Create";

}
@using (Html.BeginForm(actionName: "IncidentAddressEditor", controllerName: "Incidents"))
{
    <div class="bs-callout bs-callout-primary">        
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>miejsce incydentu</h4>
            <hr />
            @Html.FormValidationSummary()
            @Html.FormHiddenFor(m => m.IncidentId)
            @Html.HiddenFor(m => m.Value.Id)
            @Html.FormGroupFor(m => m.Value.Country)
            @Html.FormGroupFor(m => m.Value.PostCode)
            @Html.FormGroupFor(m => m.Value.City)
            @Html.FormGroupFor(m => m.Value.Street)
            @Html.FormGroupFor(m => m.Value.StreetNumber)
            @Html.FormGroupFor(m => m.Value.AppartmentNumber)
            @Html.FormSubmit("Gotowe")
        </div>
    </div>
}


