﻿@model Insurance.Web.Incidents.Customer
@{
    ViewBag.Title = "Index";
}
<h2>Moje wnioski o likwidację szkody</h2>
<p>
    @Html.ActionLink("nowy wniosek", "CreateIncident")
</p>
<table class="table">
    <tr>
        <th>Nazwa szkody</th>
        <th>Data utworzenia</th>
        <th>Status</th>
        <th></th>
    </tr>
@foreach (var incident in Model.Incidents) {
    <tr>
        <td>@Html.DisplayFor(modelItem => incident.Details.Title)</td>
        <td>@Html.DisplayFor(modelItem => incident.CreationDateTime)</td>
        <td>@Html.DisplayFor(modelItem => incident.Status.Type)</td>
        <td>
            @Html.ActionLink("Edit", "IncidentEditor", new { incidentId = incident.Id })
            @if (incident.CanSubmit)
            {
                <span> | </span>
                @Html.ActionLink("Wyslij", "SubmitIncident", new { incidentId = incident.Id })
            }
        </td>
    </tr>
}
</table>
